
@use '../custom' as *;
@use '../components/tipografy';



body{
    background: $gray-100;
}

h1{
    color: $pink;
}

.container{
    //height: 90vh;
    background: linear-gradient(to right, rgba($primary,0.95), rgba($secondary, 0.95));
    border-radius: 20px;
    height: 100%;
    padding: 0;
    position: relative;

    h2{
        text-align: center;
        color: $white;
    }
}

.table{
    tbody{
        tr{
            color: $white;
        }
    }
}